<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.designtask1.mapper.DesignTemplateNodeRoleMapper">

    <resultMap type="DesignTemplateNodeRole" id="DesignTemplateNodeRoleResult">
        <id property="id" column="id" />
        <result property="nodeId" column="node_id" />
        <result property="roleCode" column="role_code" />
        <result property="roleName" column="role_name" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectNodeRoleVo">
        select id, node_id, role_code, role_name, create_by, create_time
        from p2_design_template_node_role
    </sql>

    <select id="selectRoleList" parameterType="DesignTemplateNodeRole" resultMap="DesignTemplateNodeRoleResult">
        <include refid="selectNodeRoleVo"/>
        <where>
            <if test="nodeId != null">AND node_id = #{nodeId}</if>
            <if test="roleCode != null and roleCode != ''">AND role_code = #{roleCode}</if>
        </where>
    </select>

    <select id="selectRolesByNodeId" parameterType="Long" resultMap="DesignTemplateNodeRoleResult">
        <include refid="selectNodeRoleVo"/>
        where node_id = #{nodeId}
    </select>

    <insert id="insertNodeRole" parameterType="DesignTemplateNodeRole" useGeneratedKeys="true" keyProperty="id">
        insert into p2_design_template_node_role(
            <if test="id != null and id != 0">id,</if>
            <if test="nodeId != null">node_id,</if>
            <if test="roleCode != null and roleCode != ''">role_code,</if>
            <if test="roleName != null">role_name,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="id != null and id != 0">#{id},</if>
            <if test="nodeId != null">#{nodeId},</if>
            <if test="roleCode != null and roleCode != ''">#{roleCode},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <delete id="deleteRolesByNodeId" parameterType="Long">
        delete from p2_design_template_node_role where node_id = #{nodeId}
    </delete>

    <delete id="deleteRolesByNodeIds" parameterType="Long">
        delete from p2_design_template_node_role where node_id in
        <foreach collection="array" item="nodeId" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
    </delete>

</mapper>
