<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project3.mapper.FaultIdenFilePackageMapper">

    <resultMap id="FaultIdenFilePackageMap" type="com.ruoyi.project3.domain.faultiden.FaultIdenFilePackage">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="fileMode" column="file_mode"/>
        <result property="fileType" column="file_type"/>
        <result property="fileName" column="file_name"/>

        <result property="filePath" column="file_path"/>
        <result property="fileUrl" column="file_url"/>
        <result property="selectedSampleIds" column="selected_sample_ids"/>
        <result property="dataUsage" column="data_usage"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="inFaultIdenFilePackage" parameterType="com.ruoyi.project3.domain.faultiden.FaultIdenFilePackage" useGeneratedKeys="true" keyProperty="id">
        insert into fault_iden_file_package (
            task_id, file_mode, file_type, file_name, file_path, file_url, selected_sample_ids, data_usage, create_time
        ) values (
            #{taskId}, #{fileMode}, #{fileType}, #{fileName}, #{filePath}, #{fileUrl}, #{selectedSampleIds}, #{dataUsage}, now()
        )
    </insert>

    <select id="seFaultIdenFilePackageById" resultMap="FaultIdenFilePackageMap">
        select
            id, task_id, file_mode, file_type, file_name, file_path, file_url, selected_sample_ids, data_usage, create_time
        from fault_iden_file_package
        where id = #{id}
    </select>


    <select id="seFaultIdenFilePackageByTaskId" resultMap="FaultIdenFilePackageMap">
        select
            id, task_id, file_mode, file_type, file_name, file_path, file_url, selected_sample_ids, data_usage, create_time
        from fault_iden_file_package
        where task_id = #{taskId}
        order by id desc
        limit 1
    </select>

    <select id="selectByTaskIds" resultMap="FaultIdenFilePackageMap">
        select
            id, task_id, file_mode, file_type, file_name, file_path, file_url, selected_sample_ids, data_usage, create_time
        from fault_iden_file_package
        where task_id in
        <foreach collection="taskIds" item="taskId" open="(" separator="," close=")">
            #{taskId}
        </foreach>
        order by id desc
    </select>

    <delete id="deleteByIds">
        delete from fault_iden_file_package
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
