<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FdDiagnosisResultMapper">
    
    <resultMap type="FdDiagnosisResult" id="FdDiagnosisResultResult">
        <result property="diagnosisId"    column="diagnosis_id"    />
        <result property="diagnosisCode"    column="diagnosis_code"    />
        <result property="sampleId"    column="sample_id"    />
        <result property="sampleCode"    column="sample_code"    />
        <result property="fusionId"    column="fusion_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="faultType"    column="fault_type"    />
        <result property="faultLocation"    column="fault_location"    />
        <result property="confidence"    column="confidence"    />
        <result property="thresholdValue"    column="threshold_value"    />
        <result property="healthScore"    column="health_score"    />
        <result property="alarmLevel"    column="alarm_level"    />
        <result property="diagnosisTime"    column="diagnosis_time"    />
        <result property="rootStatus"    column="root_status"    />
        <result property="resultJson"    column="result_json"    />
        <result property="advice"    column="advice"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFdDiagnosisResultVo">
        select diagnosis_id, diagnosis_code, sample_id, sample_code, fusion_id, model_id, model_name, fault_type, fault_location, confidence, threshold_value, health_score, alarm_level, diagnosis_time, root_status, result_json, advice, del_flag, create_by, create_time, update_by, update_time, remark from fd_diagnosis_result
    </sql>

    <select id="selectFdDiagnosisResultList" parameterType="FdDiagnosisResult" resultMap="FdDiagnosisResultResult">
        <include refid="selectFdDiagnosisResultVo"/>
        <where>  
            <if test="diagnosisCode != null  and diagnosisCode != ''"> and diagnosis_code = #{diagnosisCode}</if>
            <if test="sampleId != null "> and sample_id = #{sampleId}</if>
            <if test="sampleCode != null  and sampleCode != ''"> and sample_code = #{sampleCode}</if>
            <if test="fusionId != null "> and fusion_id = #{fusionId}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="faultType != null  and faultType != ''"> and fault_type = #{faultType}</if>
            <if test="faultLocation != null  and faultLocation != ''"> and fault_location = #{faultLocation}</if>
            <if test="confidence != null "> and confidence = #{confidence}</if>
            <if test="thresholdValue != null "> and threshold_value = #{thresholdValue}</if>
            <if test="healthScore != null "> and health_score = #{healthScore}</if>
            <if test="alarmLevel != null  and alarmLevel != ''"> and alarm_level = #{alarmLevel}</if>
            <if test="diagnosisTime != null "> and diagnosis_time = #{diagnosisTime}</if>
            <if test="rootStatus != null  and rootStatus != ''"> and root_status = #{rootStatus}</if>
            <if test="resultJson != null  and resultJson != ''"> and result_json = #{resultJson}</if>
            <if test="advice != null  and advice != ''"> and advice = #{advice}</if>
        </where>
    </select>
    
    <select id="selectFdDiagnosisResultByDiagnosisId" parameterType="Long" resultMap="FdDiagnosisResultResult">
        <include refid="selectFdDiagnosisResultVo"/>
        where diagnosis_id = #{diagnosisId}
    </select>

    <insert id="insertFdDiagnosisResult" parameterType="FdDiagnosisResult" useGeneratedKeys="true" keyProperty="diagnosisId">
        insert into fd_diagnosis_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="diagnosisCode != null and diagnosisCode != ''">diagnosis_code,</if>
            <if test="sampleId != null">sample_id,</if>
            <if test="sampleCode != null">sample_code,</if>
            <if test="fusionId != null">fusion_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="modelName != null">model_name,</if>
            <if test="faultType != null">fault_type,</if>
            <if test="faultLocation != null">fault_location,</if>
            <if test="confidence != null">confidence,</if>
            <if test="thresholdValue != null">threshold_value,</if>
            <if test="healthScore != null">health_score,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="diagnosisTime != null">diagnosis_time,</if>
            <if test="rootStatus != null">root_status,</if>
            <if test="resultJson != null">result_json,</if>
            <if test="advice != null">advice,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="diagnosisCode != null and diagnosisCode != ''">#{diagnosisCode},</if>
            <if test="sampleId != null">#{sampleId},</if>
            <if test="sampleCode != null">#{sampleCode},</if>
            <if test="fusionId != null">#{fusionId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="modelName != null">#{modelName},</if>
            <if test="faultType != null">#{faultType},</if>
            <if test="faultLocation != null">#{faultLocation},</if>
            <if test="confidence != null">#{confidence},</if>
            <if test="thresholdValue != null">#{thresholdValue},</if>
            <if test="healthScore != null">#{healthScore},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="diagnosisTime != null">#{diagnosisTime},</if>
            <if test="rootStatus != null">#{rootStatus},</if>
            <if test="resultJson != null">#{resultJson},</if>
            <if test="advice != null">#{advice},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFdDiagnosisResult" parameterType="FdDiagnosisResult">
        update fd_diagnosis_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagnosisCode != null and diagnosisCode != ''">diagnosis_code = #{diagnosisCode},</if>
            <if test="sampleId != null">sample_id = #{sampleId},</if>
            <if test="sampleCode != null">sample_code = #{sampleCode},</if>
            <if test="fusionId != null">fusion_id = #{fusionId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="modelName != null">model_name = #{modelName},</if>
            <if test="faultType != null">fault_type = #{faultType},</if>
            <if test="faultLocation != null">fault_location = #{faultLocation},</if>
            <if test="confidence != null">confidence = #{confidence},</if>
            <if test="thresholdValue != null">threshold_value = #{thresholdValue},</if>
            <if test="healthScore != null">health_score = #{healthScore},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="diagnosisTime != null">diagnosis_time = #{diagnosisTime},</if>
            <if test="rootStatus != null">root_status = #{rootStatus},</if>
            <if test="resultJson != null">result_json = #{resultJson},</if>
            <if test="advice != null">advice = #{advice},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where diagnosis_id = #{diagnosisId}
    </update>

    <delete id="deleteFdDiagnosisResultByDiagnosisId" parameterType="Long">
        delete from fd_diagnosis_result where diagnosis_id = #{diagnosisId}
    </delete>

    <delete id="deleteFdDiagnosisResultByDiagnosisIds" parameterType="String">
        delete from fd_diagnosis_result where diagnosis_id in 
        <foreach item="diagnosisId" collection="array" open="(" separator="," close=")">
            #{diagnosisId}
        </foreach>
    </delete>
</mapper>