<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quality.mapper.QmsWorkModuleMapper">
    
    <resultMap type="QmsWorkModule" id="QmsWorkModuleResult">
        <result property="moduleId"    column="module_id"    />
        <result property="moduleCode"    column="module_code"    />
        <result property="moduleName"    column="module_name"    />
        <result property="moduleDesc"    column="module_desc"    />
        <result property="moduleRoute"    column="module_route"    />
        <result property="ownerUserId"    column="owner_user_id"    />
        <result property="ownerUserName"    column="owner_user_name"    />
        <result property="ownerRoleKey"    column="owner_role_key"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectQmsWorkModuleVo">
        select module_id, module_code, module_name, module_desc, module_route, owner_user_id, owner_user_name, owner_role_key, sort_order, status, create_by, create_time, update_by, update_time, del_flag from qms_work_module
    </sql>

    <select id="selectQmsWorkModuleList" parameterType="QmsWorkModule" resultMap="QmsWorkModuleResult">
        <include refid="selectQmsWorkModuleVo"/>
        <where>  
            <if test="moduleCode != null  and moduleCode != ''"> and module_code = #{moduleCode}</if>
            <if test="moduleName != null  and moduleName != ''"> and module_name like concat('%', #{moduleName}, '%')</if>
            <if test="moduleDesc != null  and moduleDesc != ''"> and module_desc = #{moduleDesc}</if>
            <if test="moduleRoute != null  and moduleRoute != ''"> and module_route = #{moduleRoute}</if>
            <if test="ownerUserId != null "> and owner_user_id = #{ownerUserId}</if>
            <if test="ownerUserName != null  and ownerUserName != ''"> and owner_user_name like concat('%', #{ownerUserName}, '%')</if>
            <if test="ownerRoleKey != null  and ownerRoleKey != ''"> and owner_role_key = #{ownerRoleKey}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectQmsWorkModuleByModuleId" parameterType="Long" resultMap="QmsWorkModuleResult">
        <include refid="selectQmsWorkModuleVo"/>
        where module_id = #{moduleId}
    </select>

    <insert id="insertQmsWorkModule" parameterType="QmsWorkModule" useGeneratedKeys="true" keyProperty="moduleId">
        insert into qms_work_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="moduleCode != null and moduleCode != ''">module_code,</if>
            <if test="moduleName != null and moduleName != ''">module_name,</if>
            <if test="moduleDesc != null">module_desc,</if>
            <if test="moduleRoute != null">module_route,</if>
            <if test="ownerUserId != null">owner_user_id,</if>
            <if test="ownerUserName != null">owner_user_name,</if>
            <if test="ownerRoleKey != null">owner_role_key,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="moduleCode != null and moduleCode != ''">#{moduleCode},</if>
            <if test="moduleName != null and moduleName != ''">#{moduleName},</if>
            <if test="moduleDesc != null">#{moduleDesc},</if>
            <if test="moduleRoute != null">#{moduleRoute},</if>
            <if test="ownerUserId != null">#{ownerUserId},</if>
            <if test="ownerUserName != null">#{ownerUserName},</if>
            <if test="ownerRoleKey != null">#{ownerRoleKey},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateQmsWorkModule" parameterType="QmsWorkModule">
        update qms_work_module
        <trim prefix="SET" suffixOverrides=",">
            <if test="moduleCode != null and moduleCode != ''">module_code = #{moduleCode},</if>
            <if test="moduleName != null and moduleName != ''">module_name = #{moduleName},</if>
            <if test="moduleDesc != null">module_desc = #{moduleDesc},</if>
            <if test="moduleRoute != null">module_route = #{moduleRoute},</if>
            <if test="ownerUserId != null">owner_user_id = #{ownerUserId},</if>
            <if test="ownerUserName != null">owner_user_name = #{ownerUserName},</if>
            <if test="ownerRoleKey != null">owner_role_key = #{ownerRoleKey},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where module_id = #{moduleId}
    </update>

    <delete id="deleteQmsWorkModuleByModuleId" parameterType="Long">
        delete from qms_work_module where module_id = #{moduleId}
    </delete>

    <delete id="deleteQmsWorkModuleByModuleIds" parameterType="String">
        delete from qms_work_module where module_id in 
        <foreach item="moduleId" collection="array" open="(" separator="," close=")">
            #{moduleId}
        </foreach>
    </delete>
</mapper>