fastapi>=0.115.0
uvicorn[standard]>=0.30.0
requests>=2.31.0
sqlalchemy>=2.0.0
pymysql>=1.1.0
pandas>=2.0.0
numpy
torch>=2.3.1
transformers
sentence_transformers
fuzzywuzzy
python-Levenshtein
mmh3
scikit-learn
python-dateutil
valentine
litellm
json_repair

