<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project4.mapper.FdDataFileMapper">
    
    <resultMap type="FdDataFile" id="FdDataFileResult">
        <result property="fileId"    column="file_id"    />
        <result property="datasetId"    column="dataset_id"    />
        <result property="fileCode"    column="file_code"    />
        <result property="originalFileName"    column="original_file_name"    />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="storagePath"    column="storage_path"    />
        <result property="fileMd5"    column="file_md5"    />
        <result property="sourceType"    column="source_type"    />
        <result property="importStatus"    column="import_status"    />
        <result property="parseStatus"    column="parse_status"    />
        <result property="sampleCount"    column="sample_count"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFdDataFileVo">
        select file_id, dataset_id, file_code, original_file_name, file_suffix, file_type, file_size, storage_path, file_md5, source_type, import_status, parse_status, sample_count, error_msg, del_flag, create_by, create_time, update_by, update_time, remark from fd_data_file
    </sql>

    <select id="selectFdDataFileList" parameterType="FdDataFile" resultMap="FdDataFileResult">
        <include refid="selectFdDataFileVo"/>
        <where>  
            <if test="datasetId != null "> and dataset_id = #{datasetId}</if>
            <if test="fileCode != null  and fileCode != ''"> and file_code = #{fileCode}</if>
            <if test="originalFileName != null  and originalFileName != ''"> and original_file_name like concat('%', #{originalFileName}, '%')</if>
            <if test="fileSuffix != null  and fileSuffix != ''"> and file_suffix = #{fileSuffix}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="storagePath != null  and storagePath != ''"> and storage_path = #{storagePath}</if>
            <if test="fileMd5 != null  and fileMd5 != ''"> and file_md5 = #{fileMd5}</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            <if test="importStatus != null  and importStatus != ''"> and import_status = #{importStatus}</if>
            <if test="parseStatus != null  and parseStatus != ''"> and parse_status = #{parseStatus}</if>
            <if test="sampleCount != null "> and sample_count = #{sampleCount}</if>
            <if test="errorMsg != null  and errorMsg != ''"> and error_msg = #{errorMsg}</if>
        </where>
    </select>
    
    <select id="selectFdDataFileByFileId" parameterType="Long" resultMap="FdDataFileResult">
        <include refid="selectFdDataFileVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertFdDataFile" parameterType="FdDataFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into fd_data_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="datasetId != null">dataset_id,</if>
            <if test="fileCode != null and fileCode != ''">file_code,</if>
            <if test="originalFileName != null and originalFileName != ''">original_file_name,</if>
            <if test="fileSuffix != null">file_suffix,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="storagePath != null">storage_path,</if>
            <if test="fileMd5 != null">file_md5,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="importStatus != null">import_status,</if>
            <if test="parseStatus != null">parse_status,</if>
            <if test="sampleCount != null">sample_count,</if>
            <if test="errorMsg != null">error_msg,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="datasetId != null">#{datasetId},</if>
            <if test="fileCode != null and fileCode != ''">#{fileCode},</if>
            <if test="originalFileName != null and originalFileName != ''">#{originalFileName},</if>
            <if test="fileSuffix != null">#{fileSuffix},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="storagePath != null">#{storagePath},</if>
            <if test="fileMd5 != null">#{fileMd5},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="importStatus != null">#{importStatus},</if>
            <if test="parseStatus != null">#{parseStatus},</if>
            <if test="sampleCount != null">#{sampleCount},</if>
            <if test="errorMsg != null">#{errorMsg},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFdDataFile" parameterType="FdDataFile">
        update fd_data_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="datasetId != null">dataset_id = #{datasetId},</if>
            <if test="fileCode != null and fileCode != ''">file_code = #{fileCode},</if>
            <if test="originalFileName != null and originalFileName != ''">original_file_name = #{originalFileName},</if>
            <if test="fileSuffix != null">file_suffix = #{fileSuffix},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="storagePath != null">storage_path = #{storagePath},</if>
            <if test="fileMd5 != null">file_md5 = #{fileMd5},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="importStatus != null">import_status = #{importStatus},</if>
            <if test="parseStatus != null">parse_status = #{parseStatus},</if>
            <if test="sampleCount != null">sample_count = #{sampleCount},</if>
            <if test="errorMsg != null">error_msg = #{errorMsg},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteFdDataFileByFileId" parameterType="Long">
        delete from fd_data_file where file_id = #{fileId}
    </delete>

    <delete id="deleteFdDataFileByFileIds" parameterType="String">
        delete from fd_data_file where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>