<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project4.mapper.FdFusionResultMapper">
    
    <resultMap type="FdFusionResult" id="FdFusionResultResult">
        <result property="fusionId"    column="fusion_id"    />
        <result property="fusionCode"    column="fusion_code"    />
        <result property="sampleId"    column="sample_id"    />
        <result property="sampleCode"    column="sample_code"    />
        <result property="featureIds"    column="feature_ids"    />
        <result property="fusionMethod"    column="fusion_method"    />
        <result property="confidenceWeight"    column="confidence_weight"    />
        <result property="outputDimension"    column="output_dimension"    />
        <result property="vectorLength"    column="vector_length"    />
        <result property="vectorJson"    column="vector_json"    />
        <result property="vectorPath"    column="vector_path"    />
        <result property="algorithmVersion"    column="algorithm_version"    />
        <result property="generateTime"    column="generate_time"    />
        <result property="resultStatus"    column="result_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFdFusionResultVo">
        select fusion_id, fusion_code, sample_id, sample_code, feature_ids, fusion_method, confidence_weight, output_dimension, vector_length, vector_json, vector_path, algorithm_version, generate_time, result_status, del_flag, create_by, create_time, update_by, update_time, remark from t4_fusion_result
    </sql>

    <select id="selectFdFusionResultList" parameterType="FdFusionResult" resultMap="FdFusionResultResult">
        <include refid="selectFdFusionResultVo"/>
        <where>  
            <if test="fusionCode != null  and fusionCode != ''"> and fusion_code = #{fusionCode}</if>
            <if test="sampleId != null "> and sample_id = #{sampleId}</if>
            <if test="sampleCode != null  and sampleCode != ''"> and sample_code = #{sampleCode}</if>
            <if test="featureIds != null  and featureIds != ''"> and feature_ids = #{featureIds}</if>
            <if test="fusionMethod != null  and fusionMethod != ''"> and fusion_method = #{fusionMethod}</if>
            <if test="confidenceWeight != null "> and confidence_weight = #{confidenceWeight}</if>
            <if test="outputDimension != null "> and output_dimension = #{outputDimension}</if>
            <if test="vectorLength != null "> and vector_length = #{vectorLength}</if>
            <if test="vectorJson != null  and vectorJson != ''"> and vector_json = #{vectorJson}</if>
            <if test="vectorPath != null  and vectorPath != ''"> and vector_path = #{vectorPath}</if>
            <if test="algorithmVersion != null  and algorithmVersion != ''"> and algorithm_version = #{algorithmVersion}</if>
            <if test="generateTime != null "> and generate_time = #{generateTime}</if>
            <if test="resultStatus != null  and resultStatus != ''"> and result_status = #{resultStatus}</if>
        </where>
    </select>
    
    <select id="selectFdFusionResultByFusionId" parameterType="Long" resultMap="FdFusionResultResult">
        <include refid="selectFdFusionResultVo"/>
        where fusion_id = #{fusionId}
    </select>

    <insert id="insertFdFusionResult" parameterType="FdFusionResult" useGeneratedKeys="true" keyProperty="fusionId">
        insert into t4_fusion_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fusionCode != null and fusionCode != ''">fusion_code,</if>
            <if test="sampleId != null">sample_id,</if>
            <if test="sampleCode != null">sample_code,</if>
            <if test="featureIds != null">feature_ids,</if>
            <if test="fusionMethod != null">fusion_method,</if>
            <if test="confidenceWeight != null">confidence_weight,</if>
            <if test="outputDimension != null">output_dimension,</if>
            <if test="vectorLength != null">vector_length,</if>
            <if test="vectorJson != null">vector_json,</if>
            <if test="vectorPath != null">vector_path,</if>
            <if test="algorithmVersion != null">algorithm_version,</if>
            <if test="generateTime != null">generate_time,</if>
            <if test="resultStatus != null">result_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fusionCode != null and fusionCode != ''">#{fusionCode},</if>
            <if test="sampleId != null">#{sampleId},</if>
            <if test="sampleCode != null">#{sampleCode},</if>
            <if test="featureIds != null">#{featureIds},</if>
            <if test="fusionMethod != null">#{fusionMethod},</if>
            <if test="confidenceWeight != null">#{confidenceWeight},</if>
            <if test="outputDimension != null">#{outputDimension},</if>
            <if test="vectorLength != null">#{vectorLength},</if>
            <if test="vectorJson != null">#{vectorJson},</if>
            <if test="vectorPath != null">#{vectorPath},</if>
            <if test="algorithmVersion != null">#{algorithmVersion},</if>
            <if test="generateTime != null">#{generateTime},</if>
            <if test="resultStatus != null">#{resultStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFdFusionResult" parameterType="FdFusionResult">
        update t4_fusion_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="fusionCode != null and fusionCode != ''">fusion_code = #{fusionCode},</if>
            <if test="sampleId != null">sample_id = #{sampleId},</if>
            <if test="sampleCode != null">sample_code = #{sampleCode},</if>
            <if test="featureIds != null">feature_ids = #{featureIds},</if>
            <if test="fusionMethod != null">fusion_method = #{fusionMethod},</if>
            <if test="confidenceWeight != null">confidence_weight = #{confidenceWeight},</if>
            <if test="outputDimension != null">output_dimension = #{outputDimension},</if>
            <if test="vectorLength != null">vector_length = #{vectorLength},</if>
            <if test="vectorJson != null">vector_json = #{vectorJson},</if>
            <if test="vectorPath != null">vector_path = #{vectorPath},</if>
            <if test="algorithmVersion != null">algorithm_version = #{algorithmVersion},</if>
            <if test="generateTime != null">generate_time = #{generateTime},</if>
            <if test="resultStatus != null">result_status = #{resultStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where fusion_id = #{fusionId}
    </update>

    <delete id="deleteFdFusionResultByFusionId" parameterType="Long">
        delete from t4_fusion_result where fusion_id = #{fusionId}
    </delete>

    <delete id="deleteFdFusionResultByFusionIds" parameterType="String">
        delete from t4_fusion_result where fusion_id in 
        <foreach item="fusionId" collection="array" open="(" separator="," close=")">
            #{fusionId}
        </foreach>
    </delete>
</mapper>
