<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5AlgorithmConfigMapper">
    
    <resultMap type="T5AlgorithmConfig" id="T5AlgorithmConfigResult">
        <result property="algorithmId"    column="algorithm_id"    />
        <result property="algorithmCode"    column="algorithm_code"    />
        <result property="algorithmName"    column="algorithm_name"    />
        <result property="algorithmType"    column="algorithm_type"    />
        <result property="algorithmVersion"    column="algorithm_version"    />
        <result property="algorithmDesc"    column="algorithm_desc"    />
        <result property="inputDesc"    column="input_desc"    />
        <result property="outputDesc"    column="output_desc"    />
        <result property="defaultFlag"    column="default_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5AlgorithmConfigVo">
        select algorithm_id, algorithm_code, algorithm_name, algorithm_type, algorithm_version, algorithm_desc, input_desc, output_desc, default_flag, status, create_by, create_time, update_by, update_time, remark from t5_algorithm_config
    </sql>

    <select id="selectT5AlgorithmConfigList" parameterType="T5AlgorithmConfig" resultMap="T5AlgorithmConfigResult">
        <include refid="selectT5AlgorithmConfigVo"/>
        <where>  
            <if test="algorithmCode != null  and algorithmCode != ''"> and algorithm_code = #{algorithmCode}</if>
            <if test="algorithmName != null  and algorithmName != ''"> and algorithm_name like concat('%', #{algorithmName}, '%')</if>
            <if test="algorithmType != null  and algorithmType != ''"> and algorithm_type = #{algorithmType}</if>
            <if test="algorithmVersion != null  and algorithmVersion != ''"> and algorithm_version = #{algorithmVersion}</if>
            <if test="algorithmDesc != null  and algorithmDesc != ''"> and algorithm_desc = #{algorithmDesc}</if>
            <if test="inputDesc != null  and inputDesc != ''"> and input_desc = #{inputDesc}</if>
            <if test="outputDesc != null  and outputDesc != ''"> and output_desc = #{outputDesc}</if>
            <if test="defaultFlag != null  and defaultFlag != ''"> and default_flag = #{defaultFlag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectT5AlgorithmConfigByAlgorithmId" parameterType="Long" resultMap="T5AlgorithmConfigResult">
        <include refid="selectT5AlgorithmConfigVo"/>
        where algorithm_id = #{algorithmId}
    </select>

    <insert id="insertT5AlgorithmConfig" parameterType="T5AlgorithmConfig" useGeneratedKeys="true" keyProperty="algorithmId">
        insert into t5_algorithm_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="algorithmCode != null and algorithmCode != ''">algorithm_code,</if>
            <if test="algorithmName != null and algorithmName != ''">algorithm_name,</if>
            <if test="algorithmType != null">algorithm_type,</if>
            <if test="algorithmVersion != null">algorithm_version,</if>
            <if test="algorithmDesc != null">algorithm_desc,</if>
            <if test="inputDesc != null">input_desc,</if>
            <if test="outputDesc != null">output_desc,</if>
            <if test="defaultFlag != null">default_flag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="algorithmCode != null and algorithmCode != ''">#{algorithmCode},</if>
            <if test="algorithmName != null and algorithmName != ''">#{algorithmName},</if>
            <if test="algorithmType != null">#{algorithmType},</if>
            <if test="algorithmVersion != null">#{algorithmVersion},</if>
            <if test="algorithmDesc != null">#{algorithmDesc},</if>
            <if test="inputDesc != null">#{inputDesc},</if>
            <if test="outputDesc != null">#{outputDesc},</if>
            <if test="defaultFlag != null">#{defaultFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5AlgorithmConfig" parameterType="T5AlgorithmConfig">
        update t5_algorithm_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="algorithmCode != null and algorithmCode != ''">algorithm_code = #{algorithmCode},</if>
            <if test="algorithmName != null and algorithmName != ''">algorithm_name = #{algorithmName},</if>
            <if test="algorithmType != null">algorithm_type = #{algorithmType},</if>
            <if test="algorithmVersion != null">algorithm_version = #{algorithmVersion},</if>
            <if test="algorithmDesc != null">algorithm_desc = #{algorithmDesc},</if>
            <if test="inputDesc != null">input_desc = #{inputDesc},</if>
            <if test="outputDesc != null">output_desc = #{outputDesc},</if>
            <if test="defaultFlag != null">default_flag = #{defaultFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where algorithm_id = #{algorithmId}
    </update>

    <delete id="deleteT5AlgorithmConfigByAlgorithmId" parameterType="Long">
        delete from t5_algorithm_config where algorithm_id = #{algorithmId}
    </delete>

    <delete id="deleteT5AlgorithmConfigByAlgorithmIds" parameterType="String">
        delete from t5_algorithm_config where algorithm_id in 
        <foreach item="algorithmId" collection="array" open="(" separator="," close=")">
            #{algorithmId}
        </foreach>
    </delete>
</mapper>