<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5DiagnosisEvidenceMapper">
    
    <resultMap type="T5DiagnosisEvidence" id="T5DiagnosisEvidenceResult">
        <result property="evidenceId"    column="evidence_id"    />
        <result property="diagnosisId"    column="diagnosis_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="partId"    column="part_id"    />
        <result property="eventId"    column="event_id"    />
        <result property="evidenceType"    column="evidence_type"    />
        <result property="evidenceName"    column="evidence_name"    />
        <result property="evidenceDesc"    column="evidence_desc"    />
        <result property="evidenceValue"    column="evidence_value"    />
        <result property="contribution"    column="contribution"    />
        <result property="confidence"    column="confidence"    />
        <result property="kgPath"    column="kg_path"    />
        <result property="sourceTable"    column="source_table"    />
        <result property="sourceRecordId"    column="source_record_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5DiagnosisEvidenceVo">
        select evidence_id, diagnosis_id, task_id, part_id, event_id, evidence_type, evidence_name, evidence_desc, evidence_value, contribution, confidence, kg_path, source_table, source_record_id, create_by, create_time, update_by, update_time, remark from t5_diagnosis_evidence
    </sql>

    <select id="selectT5DiagnosisEvidenceList" parameterType="T5DiagnosisEvidence" resultMap="T5DiagnosisEvidenceResult">
        <include refid="selectT5DiagnosisEvidenceVo"/>
        <where>  
            <if test="diagnosisId != null "> and diagnosis_id = #{diagnosisId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="partId != null "> and part_id = #{partId}</if>
            <if test="eventId != null "> and event_id = #{eventId}</if>
            <if test="evidenceType != null  and evidenceType != ''"> and evidence_type = #{evidenceType}</if>
            <if test="evidenceName != null  and evidenceName != ''"> and evidence_name like concat('%', #{evidenceName}, '%')</if>
            <if test="evidenceDesc != null  and evidenceDesc != ''"> and evidence_desc = #{evidenceDesc}</if>
            <if test="evidenceValue != null  and evidenceValue != ''"> and evidence_value = #{evidenceValue}</if>
            <if test="contribution != null "> and contribution = #{contribution}</if>
            <if test="confidence != null "> and confidence = #{confidence}</if>
            <if test="kgPath != null  and kgPath != ''"> and kg_path = #{kgPath}</if>
            <if test="sourceTable != null  and sourceTable != ''"> and source_table = #{sourceTable}</if>
            <if test="sourceRecordId != null  and sourceRecordId != ''"> and source_record_id = #{sourceRecordId}</if>
        </where>
    </select>
    
    <select id="selectT5DiagnosisEvidenceByEvidenceId" parameterType="Long" resultMap="T5DiagnosisEvidenceResult">
        <include refid="selectT5DiagnosisEvidenceVo"/>
        where evidence_id = #{evidenceId}
    </select>

    <insert id="insertT5DiagnosisEvidence" parameterType="T5DiagnosisEvidence" useGeneratedKeys="true" keyProperty="evidenceId">
        insert into t5_diagnosis_evidence
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="diagnosisId != null">diagnosis_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="partId != null">part_id,</if>
            <if test="eventId != null">event_id,</if>
            <if test="evidenceType != null">evidence_type,</if>
            <if test="evidenceName != null">evidence_name,</if>
            <if test="evidenceDesc != null">evidence_desc,</if>
            <if test="evidenceValue != null">evidence_value,</if>
            <if test="contribution != null">contribution,</if>
            <if test="confidence != null">confidence,</if>
            <if test="kgPath != null">kg_path,</if>
            <if test="sourceTable != null">source_table,</if>
            <if test="sourceRecordId != null">source_record_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="diagnosisId != null">#{diagnosisId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="partId != null">#{partId},</if>
            <if test="eventId != null">#{eventId},</if>
            <if test="evidenceType != null">#{evidenceType},</if>
            <if test="evidenceName != null">#{evidenceName},</if>
            <if test="evidenceDesc != null">#{evidenceDesc},</if>
            <if test="evidenceValue != null">#{evidenceValue},</if>
            <if test="contribution != null">#{contribution},</if>
            <if test="confidence != null">#{confidence},</if>
            <if test="kgPath != null">#{kgPath},</if>
            <if test="sourceTable != null">#{sourceTable},</if>
            <if test="sourceRecordId != null">#{sourceRecordId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5DiagnosisEvidence" parameterType="T5DiagnosisEvidence">
        update t5_diagnosis_evidence
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagnosisId != null">diagnosis_id = #{diagnosisId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="partId != null">part_id = #{partId},</if>
            <if test="eventId != null">event_id = #{eventId},</if>
            <if test="evidenceType != null">evidence_type = #{evidenceType},</if>
            <if test="evidenceName != null">evidence_name = #{evidenceName},</if>
            <if test="evidenceDesc != null">evidence_desc = #{evidenceDesc},</if>
            <if test="evidenceValue != null">evidence_value = #{evidenceValue},</if>
            <if test="contribution != null">contribution = #{contribution},</if>
            <if test="confidence != null">confidence = #{confidence},</if>
            <if test="kgPath != null">kg_path = #{kgPath},</if>
            <if test="sourceTable != null">source_table = #{sourceTable},</if>
            <if test="sourceRecordId != null">source_record_id = #{sourceRecordId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where evidence_id = #{evidenceId}
    </update>

    <delete id="deleteT5DiagnosisEvidenceByEvidenceId" parameterType="Long">
        delete from t5_diagnosis_evidence where evidence_id = #{evidenceId}
    </delete>

    <delete id="deleteT5DiagnosisEvidenceByEvidenceIds" parameterType="String">
        delete from t5_diagnosis_evidence where evidence_id in 
        <foreach item="evidenceId" collection="array" open="(" separator="," close=")">
            #{evidenceId}
        </foreach>
    </delete>
</mapper>