<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5FaultSymptomMapper">
    
    <resultMap type="T5FaultSymptom" id="T5FaultSymptomResult">
        <result property="symptomId"    column="symptom_id"    />
        <result property="symptomNo"    column="symptom_no"    />
        <result property="symptomTitle"    column="symptom_title"    />
        <result property="systemName"    column="system_name"    />
        <result property="subsystemName"    column="subsystem_name"    />
        <result property="productModel"    column="product_model"    />
        <result property="faultPhenomenon"    column="fault_phenomenon"    />
        <result property="faultDesc"    column="fault_desc"    />
        <result property="faultLocation"    column="fault_location"    />
        <result property="faultMode"    column="fault_mode"    />
        <result property="abnormalParam"    column="abnormal_param"    />
        <result property="abnormalValue"    column="abnormal_value"    />
        <result property="normalRange"    column="normal_range"    />
        <result property="detectMethod"    column="detect_method"    />
        <result property="occurTime"    column="occur_time"    />
        <result property="severityLevel"    column="severity_level"    />
        <result property="dataType"    column="data_type"    />
        <result property="attachmentIds"    column="attachment_ids"    />
        <result property="symptomStatus"    column="symptom_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5FaultSymptomVo">
        select symptom_id, symptom_no, symptom_title, system_name, subsystem_name, product_model, fault_phenomenon, fault_desc, fault_location, fault_mode, abnormal_param, abnormal_value, normal_range, detect_method, occur_time, severity_level, data_type, attachment_ids, symptom_status, create_by, create_time, update_by, update_time, remark from t5_fault_symptom
    </sql>

    <select id="selectT5FaultSymptomList" parameterType="T5FaultSymptom" resultMap="T5FaultSymptomResult">
        <include refid="selectT5FaultSymptomVo"/>
        <where>  
            <if test="symptomNo != null  and symptomNo != ''"> and symptom_no = #{symptomNo}</if>
            <if test="symptomTitle != null  and symptomTitle != ''"> and symptom_title = #{symptomTitle}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="subsystemName != null  and subsystemName != ''"> and subsystem_name like concat('%', #{subsystemName}, '%')</if>
            <if test="productModel != null  and productModel != ''"> and product_model = #{productModel}</if>
            <if test="faultPhenomenon != null  and faultPhenomenon != ''"> and fault_phenomenon = #{faultPhenomenon}</if>
            <if test="faultDesc != null  and faultDesc != ''"> and fault_desc = #{faultDesc}</if>
            <if test="faultLocation != null  and faultLocation != ''"> and fault_location = #{faultLocation}</if>
            <if test="faultMode != null  and faultMode != ''"> and fault_mode = #{faultMode}</if>
            <if test="abnormalParam != null  and abnormalParam != ''"> and abnormal_param = #{abnormalParam}</if>
            <if test="abnormalValue != null  and abnormalValue != ''"> and abnormal_value = #{abnormalValue}</if>
            <if test="normalRange != null  and normalRange != ''"> and normal_range = #{normalRange}</if>
            <if test="detectMethod != null  and detectMethod != ''"> and detect_method = #{detectMethod}</if>
            <if test="occurTime != null "> and occur_time = #{occurTime}</if>
            <if test="severityLevel != null  and severityLevel != ''"> and severity_level = #{severityLevel}</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="attachmentIds != null  and attachmentIds != ''"> and attachment_ids = #{attachmentIds}</if>
            <if test="symptomStatus != null  and symptomStatus != ''"> and symptom_status = #{symptomStatus}</if>
        </where>
    </select>
    
    <select id="selectT5FaultSymptomBySymptomId" parameterType="Long" resultMap="T5FaultSymptomResult">
        <include refid="selectT5FaultSymptomVo"/>
        where symptom_id = #{symptomId}
    </select>

    <insert id="insertT5FaultSymptom" parameterType="T5FaultSymptom" useGeneratedKeys="true" keyProperty="symptomId">
        insert into t5_fault_symptom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="symptomNo != null and symptomNo != ''">symptom_no,</if>
            <if test="symptomTitle != null and symptomTitle != ''">symptom_title,</if>
            <if test="systemName != null">system_name,</if>
            <if test="subsystemName != null">subsystem_name,</if>
            <if test="productModel != null">product_model,</if>
            <if test="faultPhenomenon != null">fault_phenomenon,</if>
            <if test="faultDesc != null">fault_desc,</if>
            <if test="faultLocation != null">fault_location,</if>
            <if test="faultMode != null">fault_mode,</if>
            <if test="abnormalParam != null">abnormal_param,</if>
            <if test="abnormalValue != null">abnormal_value,</if>
            <if test="normalRange != null">normal_range,</if>
            <if test="detectMethod != null">detect_method,</if>
            <if test="occurTime != null">occur_time,</if>
            <if test="severityLevel != null">severity_level,</if>
            <if test="dataType != null">data_type,</if>
            <if test="attachmentIds != null">attachment_ids,</if>
            <if test="symptomStatus != null">symptom_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="symptomNo != null and symptomNo != ''">#{symptomNo},</if>
            <if test="symptomTitle != null and symptomTitle != ''">#{symptomTitle},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="subsystemName != null">#{subsystemName},</if>
            <if test="productModel != null">#{productModel},</if>
            <if test="faultPhenomenon != null">#{faultPhenomenon},</if>
            <if test="faultDesc != null">#{faultDesc},</if>
            <if test="faultLocation != null">#{faultLocation},</if>
            <if test="faultMode != null">#{faultMode},</if>
            <if test="abnormalParam != null">#{abnormalParam},</if>
            <if test="abnormalValue != null">#{abnormalValue},</if>
            <if test="normalRange != null">#{normalRange},</if>
            <if test="detectMethod != null">#{detectMethod},</if>
            <if test="occurTime != null">#{occurTime},</if>
            <if test="severityLevel != null">#{severityLevel},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="attachmentIds != null">#{attachmentIds},</if>
            <if test="symptomStatus != null">#{symptomStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5FaultSymptom" parameterType="T5FaultSymptom">
        update t5_fault_symptom
        <trim prefix="SET" suffixOverrides=",">
            <if test="symptomNo != null and symptomNo != ''">symptom_no = #{symptomNo},</if>
            <if test="symptomTitle != null and symptomTitle != ''">symptom_title = #{symptomTitle},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="subsystemName != null">subsystem_name = #{subsystemName},</if>
            <if test="productModel != null">product_model = #{productModel},</if>
            <if test="faultPhenomenon != null">fault_phenomenon = #{faultPhenomenon},</if>
            <if test="faultDesc != null">fault_desc = #{faultDesc},</if>
            <if test="faultLocation != null">fault_location = #{faultLocation},</if>
            <if test="faultMode != null">fault_mode = #{faultMode},</if>
            <if test="abnormalParam != null">abnormal_param = #{abnormalParam},</if>
            <if test="abnormalValue != null">abnormal_value = #{abnormalValue},</if>
            <if test="normalRange != null">normal_range = #{normalRange},</if>
            <if test="detectMethod != null">detect_method = #{detectMethod},</if>
            <if test="occurTime != null">occur_time = #{occurTime},</if>
            <if test="severityLevel != null">severity_level = #{severityLevel},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="attachmentIds != null">attachment_ids = #{attachmentIds},</if>
            <if test="symptomStatus != null">symptom_status = #{symptomStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where symptom_id = #{symptomId}
    </update>

    <delete id="deleteT5FaultSymptomBySymptomId" parameterType="Long">
        delete from t5_fault_symptom where symptom_id = #{symptomId}
    </delete>

    <delete id="deleteT5FaultSymptomBySymptomIds" parameterType="String">
        delete from t5_fault_symptom where symptom_id in 
        <foreach item="symptomId" collection="array" open="(" separator="," close=")">
            #{symptomId}
        </foreach>
    </delete>
</mapper>