<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5PartLocateResultMapper">
    
    <resultMap type="T5PartLocateResult" id="T5PartLocateResultResult">
        <result property="locateId"    column="locate_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="algorithmId"    column="algorithm_id"    />
        <result property="algorithmName"    column="algorithm_name"    />
        <result property="partId"    column="part_id"    />
        <result property="partNo"    column="part_no"    />
        <result property="partName"    column="part_name"    />
        <result property="matchScore"    column="match_score"    />
        <result property="confidence"    column="confidence"    />
        <result property="rankNo"    column="rank_no"    />
        <result property="isFinal"    column="is_final"    />
        <result property="locateReason"    column="locate_reason"    />
        <result property="evidenceSummary"    column="evidence_summary"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <delete id="deleteT5PartLocateResultByCaseId" parameterType="Long">
        delete from t5_part_locate_result where case_id = #{caseId}
    </delete>
    <sql id="selectT5PartLocateResultVo">
        select locate_id, case_id, algorithm_id, algorithm_name, part_id, part_no, part_name, match_score, confidence, rank_no, is_final, locate_reason, evidence_summary, create_by, create_time, update_by, update_time, remark from t5_part_locate_result
    </sql>

    <select id="selectT5PartLocateResultList" parameterType="T5PartLocateResult" resultMap="T5PartLocateResultResult">
        <include refid="selectT5PartLocateResultVo"/>
        <where>  
            <if test="caseId != null "> and case_id = #{caseId}</if>
            <if test="algorithmId != null "> and algorithm_id = #{algorithmId}</if>
            <if test="algorithmName != null  and algorithmName != ''"> and algorithm_name like concat('%', #{algorithmName}, '%')</if>
            <if test="partId != null "> and part_id = #{partId}</if>
            <if test="partNo != null  and partNo != ''"> and part_no = #{partNo}</if>
            <if test="partName != null  and partName != ''"> and part_name like concat('%', #{partName}, '%')</if>
            <if test="matchScore != null "> and match_score = #{matchScore}</if>
            <if test="confidence != null "> and confidence = #{confidence}</if>
            <if test="rankNo != null "> and rank_no = #{rankNo}</if>
            <if test="isFinal != null  and isFinal != ''"> and is_final = #{isFinal}</if>
            <if test="locateReason != null  and locateReason != ''"> and locate_reason = #{locateReason}</if>
            <if test="evidenceSummary != null  and evidenceSummary != ''"> and evidence_summary = #{evidenceSummary}</if>
        </where>
    </select>
    
    <select id="selectT5PartLocateResultByLocateId" parameterType="Long" resultMap="T5PartLocateResultResult">
        <include refid="selectT5PartLocateResultVo"/>
        where locate_id = #{locateId}
    </select>

    <insert id="insertT5PartLocateResult" parameterType="T5PartLocateResult" useGeneratedKeys="true" keyProperty="locateId">
        insert into t5_part_locate_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="algorithmId != null">algorithm_id,</if>
            <if test="algorithmName != null">algorithm_name,</if>
            <if test="partId != null">part_id,</if>
            <if test="partNo != null">part_no,</if>
            <if test="partName != null">part_name,</if>
            <if test="matchScore != null">match_score,</if>
            <if test="confidence != null">confidence,</if>
            <if test="rankNo != null">rank_no,</if>
            <if test="isFinal != null">is_final,</if>
            <if test="locateReason != null">locate_reason,</if>
            <if test="evidenceSummary != null">evidence_summary,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="algorithmId != null">#{algorithmId},</if>
            <if test="algorithmName != null">#{algorithmName},</if>
            <if test="partId != null">#{partId},</if>
            <if test="partNo != null">#{partNo},</if>
            <if test="partName != null">#{partName},</if>
            <if test="matchScore != null">#{matchScore},</if>
            <if test="confidence != null">#{confidence},</if>
            <if test="rankNo != null">#{rankNo},</if>
            <if test="isFinal != null">#{isFinal},</if>
            <if test="locateReason != null">#{locateReason},</if>
            <if test="evidenceSummary != null">#{evidenceSummary},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5PartLocateResult" parameterType="T5PartLocateResult">
        update t5_part_locate_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseId != null">case_id = #{caseId},</if>
            <if test="algorithmId != null">algorithm_id = #{algorithmId},</if>
            <if test="algorithmName != null">algorithm_name = #{algorithmName},</if>
            <if test="partId != null">part_id = #{partId},</if>
            <if test="partNo != null">part_no = #{partNo},</if>
            <if test="partName != null">part_name = #{partName},</if>
            <if test="matchScore != null">match_score = #{matchScore},</if>
            <if test="confidence != null">confidence = #{confidence},</if>
            <if test="rankNo != null">rank_no = #{rankNo},</if>
            <if test="isFinal != null">is_final = #{isFinal},</if>
            <if test="locateReason != null">locate_reason = #{locateReason},</if>
            <if test="evidenceSummary != null">evidence_summary = #{evidenceSummary},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where locate_id = #{locateId}
    </update>

    <delete id="deleteT5PartLocateResultByLocateId" parameterType="Long">
        delete from t5_part_locate_result where locate_id = #{locateId}
    </delete>

    <delete id="deleteT5PartLocateResultByLocateIds" parameterType="String">
        delete from t5_part_locate_result where locate_id in 
        <foreach item="locateId" collection="array" open="(" separator="," close=")">
            #{locateId}
        </foreach>
    </delete>
</mapper>