<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5PartInstanceMapper">
    
    <resultMap type="T5PartInstance" id="T5PartInstanceResult">
        <result property="partId"    column="part_id"    />
        <result property="partNo"    column="part_no"    />
        <result property="partName"    column="part_name"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="productModel"    column="product_model"    />
        <result property="systemName"    column="system_name"    />
        <result property="subsystemName"    column="subsystem_name"    />
        <result property="materialSpec"    column="material_spec"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="parentPartId"    column="parent_part_id"    />
        <result property="installPosition"    column="install_position"    />
        <result property="lifecycleStatus"    column="lifecycle_status"    />
        <result property="dataSource"    column="data_source"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5PartInstanceVo">
        select part_id, part_no, part_name, serial_no, batch_no, product_model, system_name, subsystem_name, material_spec, supplier_name, parent_part_id, install_position, lifecycle_status, data_source, create_by, create_time, update_by, update_time, remark from t5_part_instance
    </sql>

    <select id="selectT5PartInstanceList" parameterType="T5PartInstance" resultMap="T5PartInstanceResult">
        <include refid="selectT5PartInstanceVo"/>
        <where>  
            <if test="partNo != null  and partNo != ''"> and part_no = #{partNo}</if>
            <if test="partName != null  and partName != ''"> and part_name like concat('%', #{partName}, '%')</if>
            <if test="serialNo != null  and serialNo != ''"> and serial_no = #{serialNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="productModel != null  and productModel != ''"> and product_model = #{productModel}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="subsystemName != null  and subsystemName != ''"> and subsystem_name like concat('%', #{subsystemName}, '%')</if>
            <if test="materialSpec != null  and materialSpec != ''"> and material_spec = #{materialSpec}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="parentPartId != null "> and parent_part_id = #{parentPartId}</if>
            <if test="installPosition != null  and installPosition != ''"> and install_position = #{installPosition}</if>
            <if test="lifecycleStatus != null  and lifecycleStatus != ''"> and lifecycle_status = #{lifecycleStatus}</if>
            <if test="dataSource != null  and dataSource != ''"> and data_source = #{dataSource}</if>
        </where>
    </select>
    
    <select id="selectT5PartInstanceByPartId" parameterType="Long" resultMap="T5PartInstanceResult">
        <include refid="selectT5PartInstanceVo"/>
        where part_id = #{partId}
    </select>

    <insert id="insertT5PartInstance" parameterType="T5PartInstance" useGeneratedKeys="true" keyProperty="partId">
        insert into t5_part_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="partNo != null and partNo != ''">part_no,</if>
            <if test="partName != null">part_name,</if>
            <if test="serialNo != null">serial_no,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="productModel != null">product_model,</if>
            <if test="systemName != null">system_name,</if>
            <if test="subsystemName != null">subsystem_name,</if>
            <if test="materialSpec != null">material_spec,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="parentPartId != null">parent_part_id,</if>
            <if test="installPosition != null">install_position,</if>
            <if test="lifecycleStatus != null">lifecycle_status,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="partNo != null and partNo != ''">#{partNo},</if>
            <if test="partName != null">#{partName},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="productModel != null">#{productModel},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="subsystemName != null">#{subsystemName},</if>
            <if test="materialSpec != null">#{materialSpec},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="parentPartId != null">#{parentPartId},</if>
            <if test="installPosition != null">#{installPosition},</if>
            <if test="lifecycleStatus != null">#{lifecycleStatus},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5PartInstance" parameterType="T5PartInstance">
        update t5_part_instance
        <trim prefix="SET" suffixOverrides=",">
            <if test="partNo != null and partNo != ''">part_no = #{partNo},</if>
            <if test="partName != null">part_name = #{partName},</if>
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="productModel != null">product_model = #{productModel},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="subsystemName != null">subsystem_name = #{subsystemName},</if>
            <if test="materialSpec != null">material_spec = #{materialSpec},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="parentPartId != null">parent_part_id = #{parentPartId},</if>
            <if test="installPosition != null">install_position = #{installPosition},</if>
            <if test="lifecycleStatus != null">lifecycle_status = #{lifecycleStatus},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where part_id = #{partId}
    </update>

    <delete id="deleteT5PartInstanceByPartId" parameterType="Long">
        delete from t5_part_instance where part_id = #{partId}
    </delete>

    <delete id="deleteT5PartInstanceByPartIds" parameterType="String">
        delete from t5_part_instance where part_id in 
        <foreach item="partId" collection="array" open="(" separator="," close=")">
            #{partId}
        </foreach>
    </delete>
</mapper>