<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5StageDiagnosisMapper">
    
    <resultMap type="T5StageDiagnosis" id="T5StageDiagnosisResult">
        <result property="diagnosisId"    column="diagnosis_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="partId"    column="part_id"    />
        <result property="runId"    column="run_id"    />
        <result property="stageCode"    column="stage_code"    />
        <result property="stageName"    column="stage_name"    />
        <result property="riskScore"    column="risk_score"    />
        <result property="confidence"    column="confidence"    />
        <result property="rankNo"    column="rank_no"    />
        <result property="isFinal"    column="is_final"    />
        <result property="faultMode"    column="fault_mode"    />
        <result property="causeDesc"    column="cause_desc"    />
        <result property="diagnosisResult"    column="diagnosis_result"    />
        <result property="algorithmName"    column="algorithm_name"    />
        <result property="modelVersion"    column="model_version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5StageDiagnosisVo">
        select diagnosis_id, task_id, part_id, run_id, stage_code, stage_name, risk_score, confidence, rank_no, is_final, fault_mode, cause_desc, diagnosis_result, algorithm_name, model_version, create_by, create_time, update_by, update_time, remark from t5_stage_diagnosis
    </sql>

    <select id="selectT5StageDiagnosisList" parameterType="T5StageDiagnosis" resultMap="T5StageDiagnosisResult">
        <include refid="selectT5StageDiagnosisVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="partId != null "> and part_id = #{partId}</if>
            <if test="runId != null "> and run_id = #{runId}</if>
            <if test="stageCode != null  and stageCode != ''"> and stage_code = #{stageCode}</if>
            <if test="stageName != null  and stageName != ''"> and stage_name like concat('%', #{stageName}, '%')</if>
            <if test="riskScore != null "> and risk_score = #{riskScore}</if>
            <if test="confidence != null "> and confidence = #{confidence}</if>
            <if test="rankNo != null "> and rank_no = #{rankNo}</if>
            <if test="isFinal != null  and isFinal != ''"> and is_final = #{isFinal}</if>
            <if test="faultMode != null  and faultMode != ''"> and fault_mode = #{faultMode}</if>
            <if test="causeDesc != null  and causeDesc != ''"> and cause_desc = #{causeDesc}</if>
            <if test="diagnosisResult != null  and diagnosisResult != ''"> and diagnosis_result = #{diagnosisResult}</if>
            <if test="algorithmName != null  and algorithmName != ''"> and algorithm_name like concat('%', #{algorithmName}, '%')</if>
            <if test="modelVersion != null  and modelVersion != ''"> and model_version = #{modelVersion}</if>
        </where>
    </select>
    
    <select id="selectT5StageDiagnosisByDiagnosisId" parameterType="Long" resultMap="T5StageDiagnosisResult">
        <include refid="selectT5StageDiagnosisVo"/>
        where diagnosis_id = #{diagnosisId}
    </select>

    <insert id="insertT5StageDiagnosis" parameterType="T5StageDiagnosis" useGeneratedKeys="true" keyProperty="diagnosisId">
        insert into t5_stage_diagnosis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="partId != null">part_id,</if>
            <if test="runId != null">run_id,</if>
            <if test="stageCode != null and stageCode != ''">stage_code,</if>
            <if test="stageName != null">stage_name,</if>
            <if test="riskScore != null">risk_score,</if>
            <if test="confidence != null">confidence,</if>
            <if test="rankNo != null">rank_no,</if>
            <if test="isFinal != null">is_final,</if>
            <if test="faultMode != null">fault_mode,</if>
            <if test="causeDesc != null">cause_desc,</if>
            <if test="diagnosisResult != null">diagnosis_result,</if>
            <if test="algorithmName != null">algorithm_name,</if>
            <if test="modelVersion != null">model_version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="partId != null">#{partId},</if>
            <if test="runId != null">#{runId},</if>
            <if test="stageCode != null and stageCode != ''">#{stageCode},</if>
            <if test="stageName != null">#{stageName},</if>
            <if test="riskScore != null">#{riskScore},</if>
            <if test="confidence != null">#{confidence},</if>
            <if test="rankNo != null">#{rankNo},</if>
            <if test="isFinal != null">#{isFinal},</if>
            <if test="faultMode != null">#{faultMode},</if>
            <if test="causeDesc != null">#{causeDesc},</if>
            <if test="diagnosisResult != null">#{diagnosisResult},</if>
            <if test="algorithmName != null">#{algorithmName},</if>
            <if test="modelVersion != null">#{modelVersion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5StageDiagnosis" parameterType="T5StageDiagnosis">
        update t5_stage_diagnosis
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="partId != null">part_id = #{partId},</if>
            <if test="runId != null">run_id = #{runId},</if>
            <if test="stageCode != null and stageCode != ''">stage_code = #{stageCode},</if>
            <if test="stageName != null">stage_name = #{stageName},</if>
            <if test="riskScore != null">risk_score = #{riskScore},</if>
            <if test="confidence != null">confidence = #{confidence},</if>
            <if test="rankNo != null">rank_no = #{rankNo},</if>
            <if test="isFinal != null">is_final = #{isFinal},</if>
            <if test="faultMode != null">fault_mode = #{faultMode},</if>
            <if test="causeDesc != null">cause_desc = #{causeDesc},</if>
            <if test="diagnosisResult != null">diagnosis_result = #{diagnosisResult},</if>
            <if test="algorithmName != null">algorithm_name = #{algorithmName},</if>
            <if test="modelVersion != null">model_version = #{modelVersion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where diagnosis_id = #{diagnosisId}
    </update>

    <delete id="deleteT5StageDiagnosisByDiagnosisId" parameterType="Long">
        delete from t5_stage_diagnosis where diagnosis_id = #{diagnosisId}
    </delete>

    <delete id="deleteT5StageDiagnosisByDiagnosisIds" parameterType="String">
        delete from t5_stage_diagnosis where diagnosis_id in 
        <foreach item="diagnosisId" collection="array" open="(" separator="," close=")">
            #{diagnosisId}
        </foreach>
    </delete>
</mapper>