<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.topic5.mapper.T5TraceTaskMapper">
    
    <resultMap type="T5TraceTask" id="T5TraceTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskNo"    column="task_no"    />
        <result property="taskName"    column="task_name"    />
        <result property="symptomId"    column="symptom_id"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="priorityLevel"    column="priority_level"    />
        <result property="traceGoal"    column="trace_goal"    />
        <result property="inputSummary"    column="input_summary"    />
        <result property="finalPartId"    column="final_part_id"    />
        <result property="finalPartNo"    column="final_part_no"    />
        <result property="finalPartName"    column="final_part_name"    />
        <result property="finalStageCode"    column="final_stage_code"    />
        <result property="finalStageName"    column="final_stage_name"    />
        <result property="finalConfidence"    column="final_confidence"    />
        <result property="resultSummary"    column="result_summary"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectT5TraceTaskVo">
        select task_id, task_no, task_name, symptom_id, task_status, priority_level, trace_goal, input_summary, final_part_id, final_part_no, final_part_name, final_stage_code, final_stage_name, final_confidence, result_summary, start_time, end_time, create_by, create_time, update_by, update_time, remark from t5_trace_task
    </sql>

    <select id="selectT5TraceTaskList" parameterType="T5TraceTask" resultMap="T5TraceTaskResult">
        <include refid="selectT5TraceTaskVo"/>
        <where>  
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="symptomId != null "> and symptom_id = #{symptomId}</if>
            <if test="taskStatus != null  and taskStatus != ''"> and task_status = #{taskStatus}</if>
            <if test="priorityLevel != null  and priorityLevel != ''"> and priority_level = #{priorityLevel}</if>
            <if test="traceGoal != null  and traceGoal != ''"> and trace_goal = #{traceGoal}</if>
            <if test="inputSummary != null  and inputSummary != ''"> and input_summary = #{inputSummary}</if>
            <if test="finalPartId != null "> and final_part_id = #{finalPartId}</if>
            <if test="finalPartNo != null  and finalPartNo != ''"> and final_part_no = #{finalPartNo}</if>
            <if test="finalPartName != null  and finalPartName != ''"> and final_part_name like concat('%', #{finalPartName}, '%')</if>
            <if test="finalStageCode != null  and finalStageCode != ''"> and final_stage_code = #{finalStageCode}</if>
            <if test="finalStageName != null  and finalStageName != ''"> and final_stage_name like concat('%', #{finalStageName}, '%')</if>
            <if test="finalConfidence != null "> and final_confidence = #{finalConfidence}</if>
            <if test="resultSummary != null  and resultSummary != ''"> and result_summary = #{resultSummary}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectT5TraceTaskByTaskId" parameterType="Long" resultMap="T5TraceTaskResult">
        <include refid="selectT5TraceTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertT5TraceTask" parameterType="T5TraceTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into t5_trace_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no,</if>
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="symptomId != null">symptom_id,</if>
            <if test="taskStatus != null">task_status,</if>
            <if test="priorityLevel != null">priority_level,</if>
            <if test="traceGoal != null">trace_goal,</if>
            <if test="inputSummary != null">input_summary,</if>
            <if test="finalPartId != null">final_part_id,</if>
            <if test="finalPartNo != null">final_part_no,</if>
            <if test="finalPartName != null">final_part_name,</if>
            <if test="finalStageCode != null">final_stage_code,</if>
            <if test="finalStageName != null">final_stage_name,</if>
            <if test="finalConfidence != null">final_confidence,</if>
            <if test="resultSummary != null">result_summary,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">#{taskNo},</if>
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="symptomId != null">#{symptomId},</if>
            <if test="taskStatus != null">#{taskStatus},</if>
            <if test="priorityLevel != null">#{priorityLevel},</if>
            <if test="traceGoal != null">#{traceGoal},</if>
            <if test="inputSummary != null">#{inputSummary},</if>
            <if test="finalPartId != null">#{finalPartId},</if>
            <if test="finalPartNo != null">#{finalPartNo},</if>
            <if test="finalPartName != null">#{finalPartName},</if>
            <if test="finalStageCode != null">#{finalStageCode},</if>
            <if test="finalStageName != null">#{finalStageName},</if>
            <if test="finalConfidence != null">#{finalConfidence},</if>
            <if test="resultSummary != null">#{resultSummary},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateT5TraceTask" parameterType="T5TraceTask">
        update t5_trace_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskNo != null and taskNo != ''">task_no = #{taskNo},</if>
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="symptomId != null">symptom_id = #{symptomId},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
            <if test="priorityLevel != null">priority_level = #{priorityLevel},</if>
            <if test="traceGoal != null">trace_goal = #{traceGoal},</if>
            <if test="inputSummary != null">input_summary = #{inputSummary},</if>
            <if test="finalPartId != null">final_part_id = #{finalPartId},</if>
            <if test="finalPartNo != null">final_part_no = #{finalPartNo},</if>
            <if test="finalPartName != null">final_part_name = #{finalPartName},</if>
            <if test="finalStageCode != null">final_stage_code = #{finalStageCode},</if>
            <if test="finalStageName != null">final_stage_name = #{finalStageName},</if>
            <if test="finalConfidence != null">final_confidence = #{finalConfidence},</if>
            <if test="resultSummary != null">result_summary = #{resultSummary},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteT5TraceTaskByTaskId" parameterType="Long">
        delete from t5_trace_task where task_id = #{taskId}
    </delete>

    <delete id="deleteT5TraceTaskByTaskIds" parameterType="String">
        delete from t5_trace_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>