<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project1.mapper.EvalModeMapper">
    
    <resultMap type="EvalMode" id="EvalModeResult">
        <result property="evalModeKey"    column="eval_mode_key"    />
        <result property="modeName"    column="mode_name"    />
        <result property="description"    column="description"    />
        <result property="enabled"    column="enabled"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEvalModeVo">
        select eval_mode_key, mode_name, description, enabled, sort_order, create_time, update_time, remark from p1p_eval_mode
    </sql>

    <select id="selectEvalModeList" parameterType="EvalMode" resultMap="EvalModeResult">
        <include refid="selectEvalModeVo"/>
        <where>  
            <if test="modeName != null  and modeName != ''"> and mode_name like concat('%', #{modeName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
        </where>
    </select>
    
    <select id="selectEvalModeByEvalModeKey" parameterType="String" resultMap="EvalModeResult">
        <include refid="selectEvalModeVo"/>
        where eval_mode_key = #{evalModeKey}
    </select>

    <insert id="insertEvalMode" parameterType="EvalMode">
        insert into p1p_eval_mode
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="evalModeKey != null">eval_mode_key,</if>
            <if test="modeName != null and modeName != ''">mode_name,</if>
            <if test="description != null">description,</if>
            <if test="enabled != null">enabled,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="evalModeKey != null">#{evalModeKey},</if>
            <if test="modeName != null and modeName != ''">#{modeName},</if>
            <if test="description != null">#{description},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEvalMode" parameterType="EvalMode">
        update p1p_eval_mode
        <trim prefix="SET" suffixOverrides=",">
            <if test="modeName != null and modeName != ''">mode_name = #{modeName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where eval_mode_key = #{evalModeKey}
    </update>

    <delete id="deleteEvalModeByEvalModeKey" parameterType="String">
        delete from p1p_eval_mode where eval_mode_key = #{evalModeKey}
    </delete>

    <delete id="deleteEvalModeByEvalModeKeys" parameterType="String">
        delete from p1p_eval_mode where eval_mode_key in 
        <foreach item="evalModeKey" collection="array" open="(" separator="," close=")">
            #{evalModeKey}
        </foreach>
    </delete>
</mapper>