<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project1.mapper.LlmConfigMapper">
    
    <resultMap type="LlmConfig" id="LlmConfigResult">
        <result property="llmConfigId"    column="llm_config_id"    />
        <result property="configName"    column="config_name"    />
        <result property="provider"    column="provider"    />
        <result property="modelName"    column="model_name"    />
        <result property="baseUrl"    column="base_url"    />
        <result property="apiKeyEnc"    column="api_key_enc"    />
        <result property="enabled"    column="enabled"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLlmConfigVo">
        select llm_config_id, config_name, provider, model_name, base_url, api_key_enc, enabled, create_by, create_time, update_by, update_time, remark from p1p_llm_config
    </sql>

    <select id="selectLlmConfigList" parameterType="LlmConfig" resultMap="LlmConfigResult">
        <include refid="selectLlmConfigVo"/>
        <where>  
            <if test="configName != null  and configName != ''"> and config_name like concat('%', #{configName}, '%')</if>
            <if test="provider != null  and provider != ''"> and provider = #{provider}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="baseUrl != null  and baseUrl != ''"> and base_url = #{baseUrl}</if>
            <if test="apiKeyEnc != null  and apiKeyEnc != ''"> and api_key_enc = #{apiKeyEnc}</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
        </where>
    </select>
    
    <select id="selectLlmConfigByLlmConfigId" parameterType="Long" resultMap="LlmConfigResult">
        <include refid="selectLlmConfigVo"/>
        where llm_config_id = #{llmConfigId}
    </select>

    <insert id="insertLlmConfig" parameterType="LlmConfig" useGeneratedKeys="true" keyProperty="llmConfigId">
        insert into p1p_llm_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configName != null and configName != ''">config_name,</if>
            <if test="provider != null and provider != ''">provider,</if>
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="baseUrl != null">base_url,</if>
            <if test="apiKeyEnc != null">api_key_enc,</if>
            <if test="enabled != null">enabled,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configName != null and configName != ''">#{configName},</if>
            <if test="provider != null and provider != ''">#{provider},</if>
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="baseUrl != null">#{baseUrl},</if>
            <if test="apiKeyEnc != null">#{apiKeyEnc},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLlmConfig" parameterType="LlmConfig">
        update p1p_llm_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="configName != null and configName != ''">config_name = #{configName},</if>
            <if test="provider != null and provider != ''">provider = #{provider},</if>
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="baseUrl != null">base_url = #{baseUrl},</if>
            <if test="apiKeyEnc != null">api_key_enc = #{apiKeyEnc},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where llm_config_id = #{llmConfigId}
    </update>

    <delete id="deleteLlmConfigByLlmConfigId" parameterType="Long">
        delete from p1p_llm_config where llm_config_id = #{llmConfigId}
    </delete>

    <delete id="deleteLlmConfigByLlmConfigIds" parameterType="String">
        delete from p1p_llm_config where llm_config_id in 
        <foreach item="llmConfigId" collection="array" open="(" separator="," close=")">
            #{llmConfigId}
        </foreach>
    </delete>
</mapper>